/* Coolors Exported Palette - coolors.co/028ccb-ffffff-0d1321-050517-cf5c36 */

/* HSL */
$color1: hsla(199%, 98%, 40%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(222%, 43%, 9%, 1);
$color4: hsla(240%, 64%, 5%, 1);
$color5: hsla(15%, 61%, 51%, 1);

/* RGB */
$color1: rgba(2, 140, 203, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(13, 19, 33, 1);
$color4: rgba(5, 5, 23, 1);
$color5: rgba(207, 92, 54, 1);