/*********************
 Global Styles
*********************/

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

/* Navbar */

.navbar {
  padding: .5rem 2rem;
}

.navbar-brand img {
  max-width: 100px;
}

.navbar {
  background-color: #028CCB;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#fff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: #fff;
  font-size: 1.1em;
}

.nav-link:hover {
  color: #ddd;
}

@media (min-width: 1200px) {

  .navbar {
    padding: .5rem 10rem;
  }

  .nav-item {
    padding-right: 2rem;
  }

}

/* Footer */

.footer {
  background-color: #0D1321;
  color: #fff;
  padding: 3rem;
}

.footer h3 {
  margin: 2rem 0;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.adress {
  padding-top: 2rem;
}

.social-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-nav ul {
  padding: 1rem 0;
}

.social-nav li {
  list-style-type: none;
  margin-right: 1rem;
}

.social-nav a {
  color: #fff;
}

small {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 300;
  text-align: center;
}

@media (min-width: 1200px) {
  .footer {
    background-color: #0D1321;
    color: #fff;
    padding: 3rem 12rem;
  }

}

/* contact */

.contact {
  padding: 2rem;
}

.contact h2 {
  padding: 2rem;
  font-weight: 600;
}

.contact h2, .contact p {
  text-align: center;
}

.contact-button-inner {
  text-align: right;
  padding-bottom: 2rem;
}

@media (min-width: 1200px) {

  .contact {
    padding: 5rem 12rem;
  }

  .contact h2{
    padding-bottom: 3rem;
  }
}

/****************************
  HOME
*****************************/

/* Hero */

.hero {
  height: 700px;
  text-align: left;
  padding: 20vh 2rem;
  background-image: url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.hero h1 {
  font-weight: 700;
}

.hero hr {
  display: inline-block;
  border: solid #028CCB 3px;
  width: 120px;
}

.hero p {
  font-weight: 300;
}

.hero button {
  margin-right: 1rem;
  margin-top: 1rem;
}

.btn-outline-info {
  border-color: #028CCB;
  color: #fff;
}

.btn-outline-info:hover, .btn-info:hover {
  background-color: #028CCB;
  color: #fff;
}

.btn-info {
  background-color: #028CCB;
}

@media (min-width: 1200px) {

  .hero {
    padding: 20vh 10rem;
  }

  .hero p {
    padding-right: 30vw;
  }
}

/* Slider */

.pictures {
  text-align: center;
  padding: 2rem;
}
.pictures h2 {
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
}


@media (min-width: 1200px) {

  .pictures {
    padding: 4rem 12rem;
  }
}

/* Activities */

.activities {
  padding: 1rem 2rem;
  text-align: center;
}

.activities h2 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 3rem;
}

.activities img {
  padding-top: 2rem;
}

.activities h3 {
  padding-top: 2rem;
}

.activities p {
  padding-top: 1rem;
  font-weight: 300;
}

.background-blog-inverse_mountain {
  background-image: url('../img/Activities-bg-1.jpg');
  background-size: cover;
  height: 400px;
}

@media (min-width: 1200px) {
  .activities {
    padding: 1rem 12rem
  }

  .activities h2 {
    text-align: center;
    font-weight: 700;
    padding-bottom: 4rem;
  }

  .activities__inner {
    margin-bottom: 4rem;
  }

  .activities p {
    padding-top: 1rem;
    font-weight: 300;
  }
}

/* Call to action */

.call-to-action {
  background-color: #CF5C36;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
.call-to-action a {
  color: #fff;
}

@media (min-width: 1200px) {
  .call-to-action {
    background-color: #CF5C36;
    color: #fff;
    padding: 5rem 12rem;
    height: 400px;
    text-align: center;
  }

  .call-to-action button {
    margin-top: 3rem;
    padding: 1rem 4rem;
    font-size: 1.1em;
    color: #fff;
  }
}

/*************************
  ABOUT
*************************/

/* About */

.about {
  text-align: center;
  padding: 1.5rem;
}

.about h2 {
  font-weight: 900;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.about img {
  padding-bottom: 2rem;
}

.about p {
  font-weight: 300;
  text-align: left;
}

@media (min-width: 1200px) {

  .about {
    padding: 4rem 12rem;
  }

  .about h2 {
    padding-bottom: 1rem;
  }

}

/* Objetive */

.objetive {
  padding: 1rem 2rem;
  text-align: center;
  background-color: #CF5C36;
  color: #fff;
}

.objetive h2 {
  padding-bottom: 2rem;
  padding-top: 4rem;
  font-weight: 900;
}

.objetive h3 {
  padding-bottom: 5rem;
}

.fas, .fab, .far {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* Donation */

.donation {
  padding: 5rem 2rem;
  text-align: center;
}

.donation h2 {
  padding-top: 2rem;
  font-weight: 900;
}

.donation h3 {
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.donation p {
  font-weight: 300;
}

/*************************
  POSTS
*************************/

/* Works */

.works {
  padding: 2rem;
}

.works h2{
  padding-top: 6rem;
  font-weight: 600;
  text-align: center;
}

.card {
  margin-top: 3rem;
}

.card {
  margin-top: 3rem;
}

.card-text {
  font-weight: 300;
}

@media (min-width: 1200px) {

  .works {
    padding: 5rem 12rem;
  }

}
